<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="baidu-site-verification" content="fB8eE9ovvj" />
		<!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
		<meta name="description" content="{{Site.Desc}}" />

		<link rel="shortcut icon" href="/img/favicon.ico" />
		<link href=https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.css?v={{AppVer}}" rel="stylesheet" />
		<link href="/css/peach.css?v={{AppVer}}" rel="stylesheet" />

		{% if Asset.CustomCSS %}
			<link href="{{Asset.CustomCSS}}" rel="stylesheet" />
		{% endif %}

		{% if Site.UseCDN %}
			<!-- <script src="/js/jquery-1.11.3.min.js"></script> -->
			<script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		{% else %}
			<!-- <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script> -->
			<script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		{% endif %}
		<script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.js?v={{AppVer}}"></script>
		<!-- <script type="text/javascript" src="/js/emojify-1.1.0.min.js"></script> -->
		<script src="https://cdn.bootcdn.net/ajax/libs/emojify.js/1.1.0/js/emojify.min.js"></script>
		<!-- <script src="/js/axios.min.js"></script> -->
		<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.20.0-0/axios.min.js"></script>
		<script type="text/javascript" src="/js/peach.js?v={{AppVer}}"></script>

		{% if Extension.HighlightJSCustomCSS %}
			<link rel="stylesheet" href="{{Extension.HighlightJSCustomCSS}}">
		{% else %}
			<link rel="stylesheet" href="/css/highlight-9.12.0/default.css">
		{% endif %}
		<!-- <script src="/js/highlight-9.12.0.pack.js"></script> -->
		<script src="https://cdn.bootcdn.net/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
		<script>
			// 获取浏览器内核
			function getBrowser(n) {
				var ua = navigator.userAgent.toLowerCase(),
						s,
						name = '',
						ver = 0;
				//探测浏览器
				(s = ua.match(/msie ([\d.]+)/)) ? _set("ie", _toFixedVersion(s[1])):
				(s = ua.match(/firefox\/([\d.]+)/)) ? _set("firefox", _toFixedVersion(s[1])) :
				(s = ua.match(/chrome\/([\d.]+)/)) ? _set("chrome", _toFixedVersion(s[1])) :
				(s = ua.match(/opera.([\d.]+)/)) ? _set("opera", _toFixedVersion(s[1])) :
				(s = ua.match(/version\/([\d.]+).*safari/)) ? _set("safari", _toFixedVersion(s[1])) : 0;
				function _toFixedVersion(ver, floatLength) {
					ver = ('' + ver).replace(/_/g, '.');
					floatLength = floatLength || 1;
					ver = String(ver).split('.');
					ver = ver[0] + '.' + (ver[1] || '0');
					ver = Number(ver).toFixed(floatLength);
					return ver;
				}
				function _set(bname, bver) {
					name = bname;
					ver = bver;
				}
				return (n == 'n' ? name : (n == 'v' ? ver : name + ver));
			};

		var neihe = getBrowser("n")
		var banben = getBrowser("v")
		console.log("内核:",neihe,"版本:",banben)
		if(neihe === 'chrome' && Number(banben) <= 53.0) {
			alert("请使用更高版本的浏览器打开网页")
			window.close()
		}

		// 根据操作系统修改切换语言
		// let cookieStr = document.cookie
		// let index = cookieStr.indexOf("lang=")
		// if(index !== -1) {
		// 	let lang = cookieStr.slice(index+5,index+10)
		// 	if(lang !== navigator.language) {
		// 		window.location.replace(`https://www.gitclone.com/?lang=${navigator.language}`);
		// 	}
		// }
		</script>
		<title>{% block title %}{{Title}}{% endblock %}</title>
	</head>
	<body>
		{% block body %}{% endblock %}

		<!-- 以下都是广告代码 -->
		<div id="sorollDiv1" style="z-index: 999; width:96px; height:96px;position:fixed;bottom:10px; right:5px ">
			<button id="advbutton" onclick="closeadvering()" style="position:absolute;top:0;right:0">☒ 关闭</button>
			<script type="text/javascript">var ufid=62203;var ufwidth=200;var ufheight=200;var ufdomain="//js.penxiangge.com";document.write("<scr"+"ipt type='text/javascript' src='"+ufdomain+"/Include/data_hf'></scri"+"pt>");</script>
			<!-- <a target="_blank" href="http://union.dangdang.com/transfer.php?from=P-340968&ad_type=30&sys_id=1&backurl=http%3A%2F%2Funion.dangdang.com%2Fddimg%2Furl%3Fid%3D119"><img src="http://union.dangdang.com/ddimg?id=119"  alt=" " border="0" /></a> -->
		</div>
		<script>
			// 定时开启广告
			window.setInterval(() => {
				document.getElementById("sorollDiv1").style.display = "block"
			}, 60000);

			// 点击按钮关闭广告
			$('#advbutton').click(function(){
				document.getElementById("sorollDiv1").style.display = "none"
			});
		</script>
	</body>
</html>