<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column" style="width: 25%!important;">
        <h4 class="ui inverted header">{{Tr(Lang, "footer.about")}}</h4>
        <p>GitClone网站基于<a href="https://github.com/peachdocs/peach">peach</a>构建</p>
      </div>
      <div class="three wide column" style="width: 25%!important;">
        <h4 class="ui inverted header">{{Tr(Lang, "footer.project")}}</h4>
        <div class="ui inverted link list">
          <p>GitClone代码库基于<a href="https://gogs.io">gogs</a>创建</p>
        </div>
      </div>
      <div class="three wide column" style="width: 25%!important;">
        <h4 class="ui inverted header">{{Tr(Lang, "footer.huancun")}}</h4>
        <div class="ui inverted link list">
          <p>缓存代码库基于<a href="https://github.com/git-cloner/gitcache">GitCache</a>创建</p>
        </div>
      </div>
      <div class="three wide column" style="width: 25%!important;">
        <h4 class="ui inverted header">{{Tr(Lang, "footer.lianxi")}}</h4>
        <div class="ui inverted link list">
          <p>邮箱: 390518557@qq.com</p>
        </div>
      </div>
    <div class="row">
      <div class="center column">
        {{Tr(Lang, "copyright") | safe}}
      </div>
    </div>
    </div>
  </div>
</div>
{{Extension.GABlock | safe}}